


<style>
  .btnnnn{
    background-color: rgba(115, 109, 109, 0.185);
  }
</style>


 <!-- Menu Button for Mobile -->
 <button class="btn btnnnn btn-dark d-md-none m-2 mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar">
  <i class="fas fa-bars"></i>
</button>






<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-center justify-content-md-between">
    <a class="navbar-brand fw-medium fs-1 mb-1 mb-md-0">
      <img src="/img/image.png" alt="error">
      <span>L</span>
      <span>a</span>
      <span>z</span>
      <sup style="font-size: 22px; color:#32cbe9;">
        <span>h</span>
        <span>h</span>
      </sup>
      <span>a</span>
      <span>r</span>
    </a>


   



  </div>
</nav>
