body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

 

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}













.sidebar .nav-link {
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease;
  z-index: 1;
}

.sidebar .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.445); 
  transition: left 0.4s ease;
  z-index: -1;
}

.sidebar .nav-link:hover::before {
  left: 0;
}



.sidebar {
  z-index: 1040;
  height: 100vh;
  position: relative; /* أضف هذا السطر */
}


.btn {
  margin: 0 auto;
}



@media (max-width: 767.98px) {
  .offcanvas-start {
    width: 250px !important; /* اجعل العرض مناسبًا حسب رغبتك */
    max-width: 80% !important; /* لتفادي تمدد العرض الكامل */
  }
}







.navbar-brand {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform .7s ease-in-out; 
}

.navbar-brand img:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.navbar-brand span {
  display: inline-block;
  letter-spacing: 1px;
  transition: transform 0.5s ease;
}

.navbar-brand span:hover {
  transform: translateY(-7px); 
}

.navbar-brand img:hover + span {
  transform: translateY(-5px); 
}




